html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
}

body {
  background-color: #000000;
  user-select: none;
  margin: 0;
  padding: 0;
  counter-reset: points;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-top: 80px;
  overflow-y: hidden;
}

main {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  padding: 50px 20px 50px;
  width: 95%;
  max-width: 500px;
  margin: 0 auto 214px;
}

.text-container {
  text-align: center;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
}
input[type="radio"] + label:hover {
  border: 1px solid #000000;
}
input[type="radio"]:checked + label {
  background-image: none;
  background-color: #0c0;
  color: #fff;
  border: 1px solid #0c0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.worngans {
  background-color: #f36;
  color: #fff;
  border: 1px solid #f36 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
