<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/quiz.css') }}" />
    <link rel="shortcut icon" href="https://avatars0.githubusercontent.com/u/65834464?s=200&amp;v=4"
        type="image/x-icon">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <title>MLH Quizzet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('label').click(function () {
                $('label').removeClass('worngans');
                $(this).addClass('worngans');
            });
        });
    </script>
</head>

<body>
    <style type="text/css">
        @font-face {
            font-family: helvetica;
            src: "{{ url_for('static', filename='fonts/helvetica.ttf')}}"
        }
    </style>
    <nav class="navbar is-dark is-fixed-top has-text-centered" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="https://avatars0.githubusercontent.com/u/65834464?s=200&amp;v=4" height="32" width="64"
                style="margin: 7px">
            <a class="navbar-item has-text-centered" href="{{ url_for('index') }}"><strong
                    class="is-size-3 has-text-centered">MLH
                    Quizzet</strong></a>
            <a class="github-fork-ribbon" href="https://github.com/PragatiVerma18/Fantastic-Falcons-1.0"
                data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
            <div class="navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    {% if uploaded == true %}
    <form action="http://localhost:5000/result" method="POST">
        {% for i in range(size) %}
        <section class="section-1" id="section-1">
            <main>
                <div class="scp-quizzes-main">
                    <div class="scp-quizzes-data">
                        <h3 class="is-size-6 has-text-weight-bold">{{ i+1 }}. {{ questions[i+1]['question'] }}</h3>
                        <br />
                        {% for op in questions[i+1]['options'] %}
                        {% if op  == questions[i+1]['answer']  %}
                        <input type="radio" id="{{ questions[i+1]['answer'] }}" name="question{{ i+1 }}">
                        <label for="{{ questions[i+1]['answer'] }}">
                            {{ op }}</label><br />
                        {% else %}
                        <input type="radio" name="question{{ i+1 }}">
                        <label> {{ op }}</label><br />
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </main>
        </section>
        {% endfor %}
        <div class="end">
        <button type="submit" class="button is-dark has-text-weight-bold has-text-centered is-fullwidth is-rounded">Submit</button>
        </div>
    </form>

    {% else %}
    <section class="section-1" id="section-1">
        <h1>Could not upload file</h1>
    </section>
    {% endif %}
    <div class="has-text-white has-text-centered" style="margin-top: 50px; background-color: #363636; padding: 10px;">
        MIT License © Copyright 2020 Fantastic Falcons
    </div>
</body>

</html>